* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.parent {
  display: flex;
  /* justify-content: center;
    align-items: center; 
    width: 100%;
    min-width: 100vh;   */
  /* flex-direction: row; */
}
.child1 {
  background-color: hsl(31, 77%, 52%);
  height: 500px;
  width: 350px;
  border-radius: 10px 0 0 10px;
}
.img1 {
  height: 30px;
  width: 30px;
  padding: 48px;
}
.child2 {
  background-color: hsl(184, 100%, 22%);
  height: 500px;
  width: 350px;
}
.img2 {
  height: 30px;
  width: 30px;
  padding: 48px;
}
.child3 {
  background-color: hsl(179, 100%, 13%);
  height: 500px;
  width: 350px;
  border-radius: 0 10px 10px 0;
}
.img3 {
  height: 30px;
  width: 30px;
  padding: 48px;
}
.h1 {
  padding-left: 48px;
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-size: 30px;
  font-weight: 700;
}
.p {
  font-family: "Lexend Deca", sans-serif;
  padding: 48px;
  padding-top: 32px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5em;
}
.btn {
  padding: 17px 50px;
  display: flex;
  justify-content: center;
  margin-left: 48px;
  margin-top: 15px;
  border-radius: 30px;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(179, 100%, 13%);
  font-size: 16px;
  font-weight: 400;
}
.one {
  color: hsl(31, 77%, 52%);
}

.one:hover {
  cursor: pointer;
  background-color: hsl(31, 77%, 52%);
  border: 2px solid white;
  color: white;
}
.two {
  color: hsl(184, 100%, 22%);
}
.two:hover {
  cursor: pointer;
  background-color: hsl(184, 100%, 22%);
  border: 2px solid white;
  color: white;
}
.three {
  color: hsl(179, 100%, 13%);
}
.three:hover {
  cursor: pointer;
  background-color: hsl(179, 100%, 13%);
  border: 2px solid white;
  color: white;
}
